<template name="TasksList">
  {{#contentFor "navTitle"}}
    <h1 class="title">Minhas Tarefas</h1>
  {{/contentFor}}

  {{#contentFor "navButtonLeft"}}
    <button type="button" class="btn btn-link btn-nav pull-left" id="goBack"><span class="icon icon-left-nav"></span></button>
  {{/contentFor}}

  <div class="content task-list">
    <ul class="table-view">     
    {{#each taskList}} 
       <li class="table-view-cell {{complete}}">
          {{task}} <span class="badge">{{date}}</span><div class="toggle-task toggle {{active}}"><div class="toggle-handle"></div></div>
      </li>
    {{/each}}
    </ul>
  </div>

  {{#contentFor "barFooter"}}
    <button id="showAll" class="btn {{outlined}} btn-primary">completos <span class="{{outlinedBadge}}">{{completCount}}</span></button>
    <button type="button" class="btn btn-link btn-nav pull-right" data-toggle-modal="new-task-modal"><span class="icon icon-plus"></span></button>
  {{/contentFor}}

  {{#contentFor "modals"}}
    <div id="new-task-modal" class="modal">
      <header class="bar bar-nav">
        <button type="button" class="btn btn-link btn-nav pull-left" data-toggle-modal="new-task-modal">Cancelar</button>
        <button type="button" class="btn btn-link btn-nav pull-right" data-toggle-modal="new-task-modal" id="salvar">Salvar</button>
        <h1 class="title">Nova tarefa</h1>
      </header>

      <div class="content">
        <form class="input-group">
          <textarea rows=8 cols=6 placeholder="Digite a tarefa..." class="new-task-textarea" id="new-task"></textarea>          
        </form>
      </div>
    </div>
  {{/contentFor}}
</template>