<template name="Home">
	{{#contentFor "navTitle"}}
		<h1 class="title"><img src="/images/logo.svg" height="15px" /></h1>
	{{/contentFor}}

	<div class="content">
	    <div class="block-group-btn">
	        <a href="{{pathFor 'TaskList'}}" class="block-btn"><i class="fa fa-check"></i></a>
	        <a href="{{pathFor 'CalendarList'}}" class="block-btn"><i class="fa fa-calendar-check-o"></i></a>
	        <a href="{{pathFor 'MusicList'}}" class="block-btn"><i class="fa fa-music"></i></a>
	        <a href="{{pathFor 'Config'}}" class="block-btn"><i class="fa fa-cog"></i></a>
	    </div>
	</div>
</template>