*{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
	
}
.block-group-btn{
	width: 100%;
	display: inline-block;
	padding: 20px;

	.block-btn{
		width: 48%;
		border: 0px;
		display: inline-block;
		padding: 1rem;
		margin: 1%;
		text-align: center;
		line-height: 100%;
		float: left;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dff32+0,13bf69+100 */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03ffbd+0,53ff6e+100 */
		background: #03ffbd; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #03ffbd 0%, #53ff6e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#03ffbd), color-stop(100%,#53ff6e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg, #03ffbd 0%,#53ff6e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg, #03ffbd 0%,#53ff6e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg, #03ffbd 0%,#53ff6e 100%); /* IE10+ */
		background: linear-gradient(135deg, #03ffbd 0%,#53ff6e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffbd', endColorstr='#53ff6e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		i{
			font-size: 4rem !important;
			color: #333;
		}
	}
}
